<% provide(:title, 'SignUp') %>

<div class="row">

  <div class="center welcome col-sm-4 col-sm-offset-2 col-lg-offset-2 col-lg-4 col-xs-12 col-md-6">

    <h1 class="reg">Registro</h1>
    
    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages' %>
      <%= f.label :nombre %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :contraseña %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= f.submit "Crear Cuenta", class: "mybtn btn btn-default" %>

    <% end %>

  </div>

</div>
