<% provide(:title, @title) %>
<div class="row">
  <div class="perfil col-xs-12 col-lg-12 col-sm-12 col-md-12">
    <div class ="perfil-user col-xs-12 col-lg-12 col-sm-12 col-md-12">
        <%= gravatar_for @user %>
      <h1>        
        <%= @user.name %>
      </h1>      
    </div>
    <div class ="seguir col-xs-12 col-lg-12 col-sm-12 col-md-12">
      <%= render 'follow_form' if logged_in? %>
    </div>
    <div class="stats col-xs-12 col-lg-12 col-sm-12 col-md-12">
      <%= render 'shared/stat' %>
    </div>
  </div>

  <!-- usuarios a los que sigues o te siguen -->
  <div class="lista col-xs-12 col-lg-8 col-sm-12 col-md-8 col-lg-offset-2 col-md-offset-2 col-xs-offset-0 col-sm-offset-0">
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% else %>
      <% if @title == "Oyentes" %>
        <h3> No hay oyentes </h3>
      <% else %>
        <h3> No hay a quién eschuchar </h3>
      <% end %>
    <% end %>
  </div>
</div>