<% provide(:title, @user.name) %>
<div class="row">
  <div class="perfil col-xs-12 col-lg-12 col-sm-12 col-md-12">
    <div class ="perfil-user col-xs-12 col-lg-12 col-sm-12 col-md-12">
        <%= gravatar_for @user %>
      <h1>        
        <%= @user.name %>
      </h1>      
    </div>
    <div class ="seguir col-xs-12 col-lg-12 col-sm-12 col-md-12">
      <%= render 'follow_form' if logged_in? %>
    </div>
    <div class="stats col-xs-12 col-lg-12 col-sm-12 col-md-12">
      <%= render 'shared/stat' %>
    </div>
  </div>

  <div class="micro col-xs-12 col-lg-8 col-sm-12 col-md-8 col-lg-offset-2 col-md-offset-2 col-xs-offset-0 col-sm-offset-0">    
    <% if @user.microposts.any? %>
      <h3>Novedades</h3>
      <ol class="microposts">
        <% @microposts.each do |microposts| %>   
          <%= render 'microposts/microposts', :micropost => microposts %>
        <% end %>
      </ol>

      <%= will_paginate @microposts %>
    <% end %>
  </div>

</div>