<%= puts "parametros --> #{@micropost}" %>        
<% b = @micropost.split %>
<% i = b.size %>
<p>
    <% for j in 0..i-1 %>
        <%if ((b[j].include? 'https://www.youtube.com/watch?v=') || (b[j].include? 'https://embed.spotify.com/?uri=')) %>
            <strong><i> <%= link_to "Escuchar música", b[j], :alt => "Musica", :title=>b[j] %> </i></strong>
        <%else%>
            <%= b[j] %>
        <%end%>
    <%end%>
</p>

<%if (@micropost.include? 'https://www.youtube.com/watch?v=') %>
        
        <% a = @micropost.split %>
        <% i = a.size %>      
        <% for j in 0..i %>
          <% a = a[j] if a[j].include? "https://www.youtube."%>
        <%end%>
        <%= video_tag(a, id: "player1", type: "video/youtube", size: "320x180") %>
<%end %> 

<% if (@micropost.include? 'https://embed.spotify.com/?uri=') %>
	<% a = @micropost.split %>
    <% i = a.size %>
    <% for j in 0..i %>
      <% a = a[j] if a[j].include? "https://embed.spotify.com/?uri="%>
    <%end%>

    <div>
    	<iframe src="<%= a %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
    </div>
 <%end%>